.product-container {
    background-color: #475B72d2;
    padding: 20px;
    border-radius: 10px;
}

.cart-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.totalPrice {
    display: flex;
    justify-content: center;
}

.detailsAndCloseBtn {
    background-color: #475B72;
    color: white;
}

.addAndTocheckoutBtn {
    background-color: #4E9BEC;
    color: white;
}

.cartBtn {
    background-color: #AB8095;
    color: white;
}
