body {
    background-image: url("../images/brattholmen-sup.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.map-container {
    background-color: #475B72d2;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.map-container iframe {
    width: 100%;  /* Gör iframe responsiv så den anpassar sig efter containerns bredd */
    max-width: 100%;  /* Se till att den inte blir större än containern */
    height: 450px;  /* En fast höjd för kartan, men du kan justera den */
    border: none;  /* Tar bort ramen från kartan */
    border-radius: 10px;  /* Ger rundade hörn till iframe */
}

.product-container {
    background-color: #475B72d2;
    padding: 20px;
    border-radius: 10px;
}

.cart-btn-container {
    display: flex;
    justify-content: center; /* Centrerar horisontellt */
    align-items: center; /* Centrerar vertikalt */
    margin-bottom: 10px;
}
/* .anton-sc-regular {
    font-family: "Anton SC", serif;
    font-weight: 400;
    font-style: normal;
  } */
  
.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }

#navbar {
    position: relative;  /* Sätt position relative för att använda z-index */
    z-index: 10;  /* Ge navbaren ett högre värde än hero-texten och footern */
    font-size: large;
}

.hero-text {
    position: absolute;  /* Placera texten absolut i förhållande till föräldern */
    top: 50%;  /* Centrera vertikalt */
    left: 50%;  /* Centrera horisontellt */
    transform: translate(-50%, -50%);  /* Finjustera för exakt centrering */
    text-align: center;  /* Centrerar texten inom hero-text */
    color: white;
    background-color: #475b72d2;  /* Transparent svart bakgrund */
    padding: 20px;
    border-radius: 10px;
}

.hero-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.button {
    background-color: #D8E1EC;
    color: black;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.bookBtn {
    background-color: #AB8095;
    color: black;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.add-button {
    background-color: #4E9BEC;
    color: black;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

#cartBtn {
    background-color: #AB8095;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
}

.card-img-top {
    width: 100%;   /* Gör bilden responsiv, fyller upp hela containerbredden */
    height: 200px; /* Sätt en fast höjd för bilderna */
    object-fit: contain;
    padding: 10px;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-top: auto;
}

#social-networks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#social-networks li {
    margin: 0 10px;
}

.social-icon {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #4E9BEC;
}

@media (max-width: 768px) {
    body {
        background-image: url("../images/brattholmen-sup-mobile.webp");
    }

    .hero-text {
        padding: 15px;  /* Minska padding för mindre rutor */
        width: 80%; /* Gör rutan mindre */
    }

    .hero-text h2 {
        font-size: 2rem; /* Minska storleken på rubriken */
    }

    .hero-text p {
        font-size: 1rem; /* Minska storleken på paragraftexten */
    }

    .cta-button {
        font-size: 1rem; /* Justera knappstorleken */
        padding: 8px 20px; /* Minska padding på knappen */
    }

    .card-img-top {
        height: 150px;  /* Minska bildens höjd på mindre skärmar */
        object-fit: contain;
    }
}
