body {
    background-image: url("../images/brattholmen-sup.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.anton-sc-regular {
    font-family: "Anton SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }

#navbar {
    position: relative;  /* Sätt position relative för att använda z-index */
    z-index: 10;  /* Ge navbaren ett högre värde än hero-texten och footern */
    font-size: large;
}

.hero-section {
    flex-grow: 1; /* Se till att hero-sektionen växer och fyller utrymmet */
    position: relative;
    width: 100%;
}

.hero-text {
    position: absolute;  /* Placera texten absolut i förhållande till föräldern */
    top: 50%;  /* Centrera vertikalt */
    left: 50%;  /* Centrera horisontellt */
    transform: translate(-50%, -50%);  /* Finjustera för exakt centrering */
    text-align: center;  /* Centrerar texten inom hero-text */
    color: white;
    background-color: #475b72d2;  /* Transparent svart bakgrund */
    padding: 20px;
    border-radius: 10px;
}

.hero-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #AB8095;
    color: white;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

#social-networks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#social-networks li {
    margin: 0 10px;
}

.social-icon {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #4E9BEC;
}

@media (max-width: 768px) {
    .hero-text {
        padding: 15px;  /* Minska padding för mindre rutor */
        width: 80%; /* Gör rutan mindre */
    }

    .hero-text h2 {
        font-size: 2rem; /* Minska storleken på rubriken */
    }

    .hero-text p {
        font-size: 1rem; /* Minska storleken på paragraftexten */
    }

    .cta-button {
        font-size: 1rem; /* Justera knappstorleken */
        padding: 8px 20px; /* Minska padding på knappen */
    }
}
